<!doctype html>
<html lang="en">

<head>
  <script defer src="/<%= manifest['index.html'].file %>"></script>
  <link rel="stylesheet" href="/<%= manifest['index.html'].css[0] %>">
  <link href="/<%= manifest['templates/favicon-dark.png'].file %>" rel="icon" media="(prefers-color-scheme: light)" />
  <link href="/<%= manifest['templates/favicon-light.png'].file %>" rel="icon" media="(prefers-color-scheme: dark)" />

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Onze - plbaelde</title>
</head>

<body>
  <div id="root"></div>
</body>

</html>