<!doctype html>
<html lang="en">

<head>
  <% if(env==="prod" ) { %>
  <script defer src="/<%= manifest['index.html'].file %>"></script>
  <link rel="stylesheet" href="/<%= manifest['index.html'].css[0] %>">
  <link href="/<%= manifest['templates/favicon-dark.png'].file %>" rel="icon" media="(prefers-color-scheme: light)" />
  <link href="/<%= manifest['templates/favicon-light.png'].file %>" rel="icon" media="(prefers-color-scheme: dark)" />
  <% } else { %>
  <script type="module" src="http://localhost:5173/@vite/client"></script>
  <script type="module">
    import RefreshRuntime from "http://localhost:5173/@react-refresh"
    RefreshRuntime.injectIntoGlobalHook(window)
    window.$RefreshReg$ = () => {}
    window.$RefreshSig$ = () => (type) => type
    window.__vite_plugin_react_preamble_installed__ = true
  </script>
  <% } %>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Onze - plbaelde</title>
</head>

<body>
  <div id="root"></div>
  <% if (env !=="prod" ) { %>
  <script type="module" src="http://localhost:5173/src/front/main.tsx"></script>
  <% } %>
</body>

</html>