.playingCards .card.empty {
    background: transparent;
    border-color: #fca311;
    box-shadow: none;
}

.card {
    cursor: pointer;
}

.card.active {
    transform: translateY(-20%);
}

/* card itself
********************************************************************/

.playingCards .card {
    display: block;
    width: 3.3em;
    height: 4.6em;
    border: 1px solid #14213d;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    padding: .25em;
    text-align: center;
    font-size: 1.2em;
    /* @change: adjust this value to make bigger or smaller cards */
    font-weight: normal;
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #fff;
    -moz-box-shadow: .2em .2em .5em #14213d;
    -webkit-box-shadow: .2em .2em .5em #14213d;
    box-shadow: .2em .2em .5em #14213d;
}

.playingCards .card.back {
    background: radial-gradient(#14213d, #fca311);
}

/* suit colours
********************************************************************/

.playingCards .card:is(.diams, .hearts) {
    color: #f00 !important;
}

.playingCards .card:is(.spades, .clubs, .joker) {
    color: #000 !important;
}

/* inner bits
********************************************************************/

/* top left main info (rank and suit) */

.playingCards .card .rank,
.playingCards .card .suit {
    display: block;
    line-height: 1;
    text-align: left;
}

.playingCards .card .suit {
    line-height: .7;
}

/* joker (top left symbol) */
.playingCards .card.joker .rank {
    position: absolute;
}

.playingCards .card.joker .rank:before {
    content: "\2605";
    top: 0;
    left: 0;
}

.playingCards .card.joker .suit {
    text-indent: -9999px;
}

/*____________ symbols in the middle (faces as dingbat symbols) ____________*/

.playingCards .card.joker .rank:after {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 3em;
    right: .1em;
    bottom: .25em;
    word-spacing: normal;
    letter-spacing: normal;
    line-height: 1;
}

/* joker (inner symbol) */
.playingCards .card.joker .rank:after {
    position: absolute;
    content: "\2766";
    top: .4em;
    left: .1em;
}

/* hand (in your hand or on table or as a deck)
********************************************************************/

.playingCards ul.hand {
    list-style-type: none;
}

.playingCards ul.hand li {
    margin: 0;
    padding: 0;
    float: left;
}

.playingCards ul.hand li:not(:last-of-type) {
    margin-right: -2em;
}