.playingCards .card.empty {
    background: transparent;
    border-color: #fca311;
    box-shadow: none;
}

.card {
    cursor: pointer;
}

/* .card.active {
    transform: translateY(-20%);
} */

/* card itself
********************************************************************/

.playingCards .card {
    display: inline-block;
    width: 3.3em;
    height: 4.6em;
    border: 1px solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    padding: .25em;
    text-align: center;
    font-size: 1.2em;
    /* @change: adjust this value to make bigger or smaller cards */
    font-weight: normal;
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #fff;
    -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
}

.playingCards .card.back {
    background: radial-gradient(#14213d, #fca311);
}

/* suit colours
********************************************************************/

.playingCards .card:is(.diams, .hearts) {
    color: #f00 !important;
}

.playingCards .card:is(.spades, .clubs, .joker) {
    color: #000 !important;
}

/* inner bits
********************************************************************/

/* top left main info (rank and suit) */

.playingCards .card .rank,
.playingCards .card .suit {
    display: block;
    line-height: 1;
    text-align: left;
}

.playingCards .card .suit {
    line-height: .7;
}

/* joker (top left symbol) */
.playingCards .card.joker .rank {
    position: absolute;
}

.playingCards .card.joker .rank:before {
    content: "\2605";
    top: 0;
    left: 0;
}

.playingCards .card.joker .suit {
    text-indent: -9999px;
}

/*____________ symbols in the middle (faces as dingbat symbols) ____________*/

.playingCards .card.joker .rank:after {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 3em;
    right: .1em;
    bottom: .25em;
    word-spacing: normal;
    letter-spacing: normal;
    line-height: 1;
}

/* joker (inner symbol) */
.playingCards .card.joker .rank:after {
    position: absolute;
    content: "\2766";
    top: .4em;
    left: .1em;
}

/* hand (in your hand or on table or as a deck)
********************************************************************/

.playingCards ul.hand {
    list-style-type: none;
    clear: both;
}

.playingCards ul.hand li {
    margin: 0;
    padding: 0;
    float: left;
}



.playingCards ul.hand li:nth-child(2) {
    transform: translateX(calc(1 * -60%));
}

.playingCards ul.hand li:nth-child(3) {
    transform: translateX(calc(2 * -60%));
}

.playingCards ul.hand li:nth-child(4) {
    transform: translateX(calc(3 * -60%));
}

.playingCards ul.hand li:nth-child(5) {
    transform: translateX(calc(4 * -60%));
}

.playingCards ul.hand li:nth-child(6) {
    transform: translateX(calc(5 * -60%));
}

.playingCards ul.hand li:nth-child(7) {
    transform: translateX(calc(6 * -60%));
}

.playingCards ul.hand li:nth-child(8) {
    transform: translateX(calc(7 * -60%));
}

.playingCards ul.hand li:nth-child(9) {
    transform: translateX(calc(8 * -60%));
}

.playingCards ul.hand li:nth-child(10) {
    transform: translateX(calc(9 * -60%));
}

.playingCards ul.hand li:nth-child(11) {
    transform: translateX(calc(10 * -60%));
}

.playingCards ul.hand li:nth-child(12) {
    transform: translateX(calc(11 * -60%));
}

.playingCards ul.hand li:nth-child(13) {
    transform: translateX(calc(12 * -60%));
}

.playingCards ul.hand li:nth-child(14) {
    transform: translateX(calc(13 * -60%));
}

.playingCards ul.hand li:nth-child(15) {
    transform: translateX(calc(14 * -60%));
}

.playingCards ul.hand li:nth-child(16) {
    transform: translateX(calc(15 * -60%));
}

.playingCards ul.hand li:nth-child(17) {
    transform: translateX(calc(16 * -60%));
}

.playingCards ul.hand li:nth-child(18) {
    transform: translateX(calc(17 * -60%));
}

.playingCards ul.hand li:nth-child(19) {
    transform: translateX(calc(18 * -60%));
}