html,
body {
    font-family: sans-serif;
    background-color: #492;
}

#root .card.empty {
    background: transparent;
    box-shadow: none;
}

.card {
    cursor: pointer;
}

.card.active {
    transform: translateY(-20%);
}

#player .card:hover {
    transform: translateY(-20%);
}

.decks {
    display: flex;
    flex-direction: row;
}

.hand.size-3 {
    width: 6.9em;
}

.hand.size-4 {
    width: 130px;
}

#root ul:is(.hand, .table) {
    margin-bottom: 0;
}

#root ul:is(.hand, .table):not(:first-child) {
    margin-left: 1em;
}