@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background: #e5e5e5;
    margin-bottom: 1.5em;
}

#copyright {
    background: #e5e5e5;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
}

#copyright a {
    text-decoration: none;
    color: inherit;
}

.box {
    border-radius: 4px;
    background: #14213d;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}

.box h2 {
    font-size: 2em;
    color: #fca311;
    text-transform: uppercase;
    text-align: center;
}

#root .button {
    background: #fca311;
    color: #14213d;
    font-weight: 600;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: .5em;
}

#login .button,
.box.column .button {
    font-size: 1.35em;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.6;
}

.cell {
    display: block;
    text-align: center;
    background: #e5e5e5;
    border-radius: 4px;
    padding: 10px;
    color: #14213d;
    font-weight: 500;
    font-size: 1em;
}

#play {
    padding: 1%;
    min-height: calc(100vh - 1.5em);

    justify-content: space-between;
    align-items: start;
    gap: 1em;
    flex-wrap: wrap;
}

#play section.box {
    width: 50%;
    align-items: center;
    gap: 1em;
}

#play section.box .row {
    gap: 1.5em;
}

#play section.box,
#scores,
#playerHand {
    padding: .75em;
}

#scores {
    color: #fff;
    font-size: 1.2em;
}

#scores th {
    color: #fca311;
    padding: 0 .5em;
}

#scores tr :not(:first-child) {
    text-align: center;
}

#playerHand,
#board {
    width: 100%;
}

#playerHand {
    align-self: flex-end;
    gap: 1em;
}

#playerHand .playingCards,
#board {
    gap: 1em;
    flex-wrap: wrap;
}

#playerHand .button {
    font-size: 1.05em;
}

#playerHand .card:hover {
    transform: translateY(-20%);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
}

#lobby {
    width: calc(100% - 2*1em);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

#login,
#lobby .box {
    width: 400px;
    gap: 40px;
    padding: 40px;
    margin: 1em;
}

#lobby ul {
    list-style-type: none;
    gap: 5px;
}